:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color-dark:#01060a; 
    --border-color: #dbdbdb;
    --color-primary: #5a73fc;
    --color-primary-light: #8e9efc;
    --color-primary-dark:#1c3eff;
    --color-grey: #777777;
    --color-grey-light-1: #f7f7f7;
    --color-grey-dark-1: #333; 
}
*{
    box-sizing: inherit;
}
 /* 100% = 16px */
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #020d18;
}
/* ==============REPONSIVE===============*/ 
.grid{
    width: 1456px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width{
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
/* TEST */
.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}
.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}
/*=========SCROLLBAR==============*/
body::-webkit-scrollbar{
    width: 0;
}
#scrollPath{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
}
#progressbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
   
    background-image: linear-gradient(to top, #008aff,#00ffe7);
    animation: animate 5s linear infinite;
}
@keyframes animate{
    0%
    {
        filter: hue-rotate(0deg);
    }
    50%
    {
        filter: hue-rotate(360deg);
    }
}
#progressbar::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top,#008aff,#00ffe7);
    filter: blur(10px);
}
#progressbar::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top,#008aff,#00ffe7);
    filter: blur(30px);
}
/*=================HEADER===========*/
.header{
    width: 100%;
    max-height: 150px;
    background-image: url(https://dongphym.net/images/dp/ramt7.jpg);
    background-size: cover;
    background-position: top;
    z-index: 1700;
    position: fixed;
}
.header__logo-link{
    text-decoration: none;
}
.header__logo-text b{
    font-size: 3rem;
    font-weight: 700;
    color: var(--white-color);
}
.header__logo-text span{
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    color: var(--white-color);
}
.header-with-search{
    display: flex;
    min-height: 69px;
    padding: 10px 0;
    align-items: center;
    padding: 0 40px;
}
.header__search{
    display: flex;
    margin-left: auto;
    background-color: #01060a;
    border-radius: 3px;
    height: 40px;
    width: 330px;
    align-items: center;
    border: 1px solid var(--border-color);
   
}
.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
   
}
.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.2rem;
    color: var(--white-color);
    font-weight: 400;
    padding: 0 16px;
    border-radius: 2px;
    background-color:#01060a;
}
.header__search-btn{
    border: none;
    background-color: #01060a;
    height: 38px;
    width: 37px;
    outline: none;
}
.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}
.btn-link{
    display: block;
    height: 38px;
    width: 37px;
}
.header__search-btn2{
    border: 1px solid var(--border-color);
    outline: none;
    height: 40px;
    padding: 4px 8px;
    background-color: #01060a;
    color: var(--white-color);
    font-weight: 300;
    margin-left: 16px;
    border-radius: 3px;
}
/*========HEADER NAVBAR ===========*/
.header__navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    background-color: rgba(0,0,0,0.7);
    position: relative;
}
.header__navbar-list{
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 40px;
   
}
.header__navbar-item{
    position: relative;
}
.header__navbar-item a{
    text-decoration: none;
    line-height: 40px;
    padding: 0 15px 0 15px;
    color: var(--white-color);
    font-size: 1.6rem;
    font-weight: 400;
    display: block;
}
.header__navbar-item > a:hover{
    background-color: var(--white-color);
    color: var(--black-color);
}
.header__navbar-item:hover .header__navbar-sub-list{
    display: block;
}
.header__navbar-sub-list{
    position: absolute;
    width: 600px;
    top: 100%;
    left: 0;
    border-radius: 2px;
    background-color: var(--white-color);
    box-shadow: 0 2rem 4rem rgba(0,0,0,0.4);
    list-style: none;
    display: none;
    z-index: 100;
}
.header__navbar-sub-item{
   
}
.header__navbar-sub-item a{
    color: var(--black-color);
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none;
    line-height: 40px;
    display: block;
    text-align: center;
}
.header__navbar-sub-item a:hover{
    text-decoration: underline;
}
.sub-list-wrap-1{
    display: table-cell;
}
.sub-list-wrap-2{
    display: table-cell;
    padding-left: 40px;
}
.sub-list-wrap-3{
    padding-left: 40px;
    display: table-cell;
}


/*=======navigation======*/
.navigation__checkbox{
    display: none;   
}
.navigation__button{
        width: 4rem;
        height: 4rem;

       
        position: absolute;
        top: 0;
        right: 24px;

        text-align: center;
        z-index: 2000;
        cursor: pointer;
}

.navigation__background {
    background-color: var(--white-color);
    /* border-radius: 50%; */
    width: 6rem;
    height: 6rem;
    position: fixed;
    top: -100rem;
    right: 73.5rem;
   
    transition: all 1.0s ease-in-out;
    z-index: 1000; }
.navigation__background::before{
    content: "";
    background-color: rgba(255, 255, 255, 0.7);
    /* border-radius: 50%; */
    width: 6rem;
    height: 6rem;
    position: fixed;
    top: -120rem;
    right: 73.5rem;
   
    transition: all 1.2s ease-in-out;
    z-index: 1000;
}
   
  .navigation__checkbox:checked ~ .navigation__background {
     
    transform: scale(60); }
    .navigation__checkbox:checked ~ .navigation__background::before {
       
        transform: scale(50); }
  .navigation__checkbox:checked ~ .navigation__nav {
    width: 100%;
    opacity: 1; 
    left: 0;
    }
    
.navigation__icon {
    position: relative;
    margin-top: 2rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3.5rem;
      height: .3rem;
      background-color: var(--white-color);
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.3s; }
    .navigation__icon::before {
      top: -0.8rem; }
    .navigation__icon::after {
      top: 0.8rem; }
  
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
    .navigation__checkbox:checked + .navigation__button .navigation__icon {
        background-color: transparent; }
      
      .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
        top: 0;
        transform: rotate(135deg);
        background-color: var(--black-color); }
      
      .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
        top: 0;
        transform: rotate(-135deg);
        background-color: var(--black-color); }
.navigation__nav{
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 0;
    width: 0;
    height: 100vh;
    z-index: 1500;
    transition: all 1.4s;
    display: flex;
    justify-content: space-evenly;
}
.navigation__list{
    margin-top: 100px;
    margin-right: 190px;
    list-style: none;
    padding-left: 0;
    text-align: left;
   
}
.navigation-item{
    margin: 1rem;
}
.navigation__link:link, .navigation__link:visited {
    font-size: 2rem;
    font-weight: 300;
    color: var(--black-color);
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 2rem;
    display: inline-block;
    background-image: radial-gradient(150% 200% ellipse at 115%, #fff 0%, #fff 50%, transparent 50%);
    background-size: 252%;
    transition: all .4s;
    margin-bottom: 2rem;
}
  .navigation__link:hover {
    color: #5a73fc;
    background-position: 100%;
    transform: translateX(1rem); }
/*===================SLIDESHOW GALARY=============*/

.container {
    position: relative;
    padding-top: 109px;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
 
  
  /* Container for image text */
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    /* opacity: 0.6; */
    height: 80px;
  }
  
  /* .active
   {
    border: 1px solid orangered;
  } */
  .banner-img{
      width: 100%;
      height: 427px;
  }
 /*===========container box=============*/
 .container-box{
     max-width: 1100px;
     padding: 20px 10px 0 10px;
 }
 .container__heading-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
 }
 .container__heading-box b{
     font-size: 2.2rem;
     font-weight: 500;
     color: var(--white-color);
     
 }
 .container__heading-box a{
     text-decoration: none;
     font-size: 1.6rem;
     font-weight: 500;
     color: var(--white-color);
 }
 .container__heading-box a:hover{
     color: #dcf42b;
 }

 .slider{
    max-width: 1200px;
    display: flex;
    padding-left: 10px;
  }
  .slider .card{
    flex: 1;
    margin: 0 10px;

  }
  .slider .card .img{
    height: 240px;
    width: 100%;
  }
  .slider .card .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.2s;
  }
  .slider .card .content{
    padding: 10px 0;
  }
  .card .content .title{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white-color);
    white-space: nowrap;
    max-width: 184px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .card .content .sub-title{
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--white-color);
    white-space: nowrap;
    max-width: 184px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .card:hover{
      cursor: pointer;
  }
  .card:hover .title{
    color: #dcf82e;
  }
  .card:hover .card__icon{
    display: block;
  }
  .card:hover .img img{
    filter: brightness(70%);
  }
  .card__ep{
    position: absolute;
    top: 1.2rem;
    left: 1.5rem;
  }
  .card__ep-name{
      font-size: 1.4rem;
      font-weight: 300;
      color: var(--white-color);
      padding: 4px 4px;
      background-color: rgba(0,0,0,0.4);
      border-radius: 8px;
  }
  .card__icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-125%);
    font-size: 2.2rem;
    color: var(--white-color);
    display: none;
    }
    /* .owl-prev{
        border: none;
        outline: none;
        background-color: #020d18;
        width: 30px;
        height: 80px;
    }
    .owl-prev span{
        font-size: 2rem;
        padding: 2px 4px;
        color: var(--white-color);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.8);
    }
    .owl-prev{
     
    }
    .owl-next{

    } */
  .container-box-app--dark{
      margin-top: 20px;
      background-color: var(--primary-color-dark);
  }
  .app{
      display: flex;
  }
  /*================SIDE BAR=============*/
  .sidebar{
    flex: 1;
    margin: 20px 15px;
    height: 2930px;
    background-color: var(--primary-color-dark);
  }
  .sidebar__heading{
      padding: 10px 15px 10px 0;
      margin-left: 15px;
      width: 332px;
  }
 .sidebar__heading--has-border{
    border-top: 1px solid var(--border-color);
 }
  .sidebar__heading h1{
      font-weight: 700;
      font-size: 2.2rem;
      color: var(--white-color);
      
  }
  .sidebar__list-btn{
      display: flex;
      list-style: none;
        padding-left: 0;
  }
  .sidebar__list-item-btn{
      width: 114px;
      background-color: #020d18;
  }
  .sidebar__list-item-btn a{
      text-decoration: none;
      color: var(--white-color);
      font-size: 1.4rem;
      display: block;
      line-height: 40px;
      padding: 0 10px;
  }
  .sidebar__list-item-btn a:hover{
    background-color: #000;
    border-bottom: 1px solid orangered;
  }
  .sidebar__list-item-btn--active{
      background-color: #000;
      border-bottom: 1px solid orangered;
  }
  .sidebar__list{
      list-style: none;
      padding-left: 15px;
      max-height: 630px;
      overflow-y: auto;
      overflow-x: hidden;
     width: 90%;
     margin-bottom: 0;
  }
  .sidebar__list--notscrollbar{
    overflow: hidden;
    max-height: 100%;
}
  .sidebar__list::-webkit-scrollbar{
      width: 4px;
  }
  .sidebar__list::-webkit-scrollbar-thumb{
      background-color: #2d2d2d;
      border-radius: 2px;
  }
  .sidebar__item{
    position: relative;
  }
  .sidebar__item:not(:last-child){
     
      margin-bottom: 20px;
  }
  .sidebar__item:hover .sidebar__img{
      filter: brightness(70%);
  }
  .sidebar__item:hover .sidebar__item-head{
      color: #dcf842;    
  }
  .sidebar__item:hover .sidebar__item-icon{
      display: block;
  }
  .sidebar__item-link{
      display: block;
      text-decoration: none;
  }
  .sidebar__img{
    width: 340px;
    height: 120px;
    object-fit: cover;
  }
  .sidebar__item-head{
      font-size: 1.6rem;
      font-weight: 700;
      color: var(--white-color);
      display: block;
      text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.8);
  }
  .sidebar__item-subhead{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white-color);
    display: block;
    text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.8);
  }
 .sidebar__item-info{
     position: absolute;
     bottom: 20px;
     left: 10px;
 }
 .sidebar__item-icon{
     font-size: 2.2rem;
     color: var(--white-color);
     position: absolute;
     top: 60px;
     left: 158px;
     display: none;
 }
 .sidebar__item-ep{
     margin-top: 4px;
 }
 .sidebar__item-ep-name{
     color: var(--white-color);
     font-size: 1.2rem;
     font-weight: 500;
     background-color: #7d0606;
     border-radius: 3px;
     padding: 2px 4px;
 }
 /*=========== SIDEBAR 2==========*/
 .sidebar__item2{
     padding: 10px 0;
     border-bottom: 1px solid #1d1d1d;
 }
 .sidebar__item2:hover .sidebar__item2-name{
    color: #dcf842; 
 }
 .sidebar__item2-link{
     text-decoration: none;
     display: flex;
 }
 .sidebar__item2-img{
     width: 90px;
     height: 128px;
 }
 .sidebar__item2-info{
     padding-left: 10px;
 }
 .sidebar__item2-name{
     font-size: 1.4rem;
     color: var(--white-color);
     font-weight: 300;
 }
 .sidebar__item2-subname{
     font-size: 1.2rem;
     color: #abb7c4;
     font-weight: 300;
     margin-top: 10px;
 }
 
 /*========footer==========*/
 .footer{
     background-image: url(https://dongphym.net/images/dp/ramt7.jpg);
     width: 100%;
     height: 304px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 40px;
 }
 .par{
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 300;
}

.footer__right-name{
    font-size: 1.8rem;
    color: var(--white-color);
    font-weight: 500;
}
.footer__right-list{
    list-style: none;
}
.footer__right-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--white-color);
    display: block;
    line-height: 1.4rem;
    padding: 6px 0;
}
.footer1{
    width: 100%;
    height: 65px;
    background-color: #020d18;
    border-top: 1px solid #405266;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 380px;
    padding-right: 380px;
}
.footer1-left{
    color: #B4B0BA;
    font-size: 1.4rem;
    font-weight: 400;
}
.footer1-left p a {
    text-decoration: none;
    color: royalblue;
}
.footer1-left p a:hover{
    color: #8b9831;
}
.footer1-right a{
    text-decoration: none;
    color: royalblue;
    font-size: 1.4rem;
    font-weight: 400;
}
.footer1-right a:hover{
    color: #8b9831;
}
