#notfound {
  background: url("https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs/161503525/original/60ca610fa0e63fc556a9d7f881d0b57e1f147f33/design-a-creative-404-page.png")
    center center no-repeat;
  background-size: cover;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
}
