    @import '../utils/mixin';
    .film__list {
        .nav {
            justify-content: center;
        }
        .navcontent {
            padding-top: 50px;
            align-items: center;
            border: none;
            margin-bottom: 50px;
            .active {
                a {
                    font-size: 1.5rem;
                    color: #fa5238;
                }
            }
            li {
                display: inline-block;
                float: none;
                &:hover {
                    a {
                        font-size: 1.5rem;
                        text-decoration: none;
                    }
                }
                a {
                    background-color: transparent;
                    border: none;
                    color: #000;
                    transition: all .2s;
                    cursor: pointer;
                }
            }
            a {
                font-size: 1.25rem;
                font-weight: 600;
            }
        }
    }
    
    .slick-res {
        .film {
            cursor: pointer;
            &:hover {
                .film__img {
                    .play-video {
                        display: block;
                    }
                    .film__overlay {
                        opacity: 1;
                    }
                }
            }
            .film__img {
                margin-bottom: 10px;
                position: relative;
                padding-top: 150%;
                border-radius: 10px;
                background-position: center, 0 0;
                background-size: 100% auto;
                background-repeat: no-repeat, repeat-y;
            }
            .film__overlay {
                background: linear-gradient(to top, #000, transparent 100%);
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 5px;
            }
            .play-video {
                display: none;
                width: 60px;
                height: 60px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 3;
                background: 0 0;
                border: none;
                img {
                    width: 100%;
                }
            }
        }
        .film__idm {
            font-size: 16px;
            background-color: rgba(12, 27, 54, .8);
            border: 1px solid #1f2e46;
            border-radius: 4px;
            padding: 2px;
            position: absolute;
            top: 12px;
            right: 12px;
            color: #fff;
            width: 65px;
            text-align: center;
            line-height: 1.1;
            .point {
                margin-bottom: 0px !important;
                text-align: center;
                transform: scaleY(1.2);
                font-weight: bold;
            }
            .star {
                margin-bottom: 0;
                img {
                    display: inline-block;
                    max-width: 8px;
                }
            }
        }
        .dateshow__film {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            border-radius: 4px;
            span {
                font-size: 16px;
                background-color: rgba(12, 27, 54, .8);
                border: 1px solid #1f2e46;
                border-radius: 4px;
                padding: 2px;
                position: absolute;
                bottom: 12px;
                right: 12px;
                color: #fff;
            }
        }
        .film__info {
            text-align: left;
            .namefilm {
                height: 42px;
                max-height: 42px;
                font-size: 16px;
                color: #000;
                line-height: 22px;
                margin-bottom: 0;
                overflow: hidden;
                font-weight: bold;
                margin-right: 0;
                a {
                    color: #262626;
                }
                .film__type__1 {
                    font-size: 14px;
                    background-color: #fb4226;
                    border-radius: 4px;
                    padding: 0 5px;
                    color: #fff;
                    min-width: 33px;
                    text-align: center;
                    display: inline-block;
                    margin-right: 8px;
                }
                .film__type__2 {
                    @extend .film__type__1;
                    background-color: hsl(147, 100%, 34%);
                }
            }
            .timefilm {
                top: 30px;
                font-size: 13px;
                color: #4a4a4a;
                margin-bottom: 15px;
                margin-top: 8px;
            }
        }
    }
    
    .fade:not(.show) {
        opacity: 1;
    }
    
    .slick-next,
    .slick-prev {
        top: 48%;
        width: 25px;
    }
    
    .slick-next:before,
    .slick-prev:before {
        color: #fa5238;
        font-size: 40px;
    }
    
    .slick-list {
        margin-left: 24px;
    }
    
    .slick-next.slick-disabled:before,
    .slick-prev.slick-disabled:before {
        opacity: .75;
    }
    
    .slick-next:focus:before,
    .slick-next:hover:before,
    .slick-prev:focus:before,
    .slick-prev:hover:before {
        opacity: 1;
    }
    
    // ------------------responsive------------------
    @include tablet-down {
        .slick-res {
            .film {
                .play-video {
                    width: 45px;
                    height: 45px;
                }
            }
            .film__idm {
                width: 57px;
                font-size: 0.875rem;
                top: 9px;
                right: 9px;
                .star {
                    img {
                        max-width: 7px;
                    }
                }
            }
        }
    }
    
    @include mobile-down {
        .slick-res {
            .film__info {
                .namefilm {
                    font-size: 0.875rem;
                    .film__type__1 {
                        min-width: 25px;
                    }
                    .film__type__2 {
                        min-width: 25px;
                    }
                }
            }
            .dateshow__film {
                span {
                    bottom: 8px;
                    right: 8px;
                    font-size: 0.875rem;
                }
            }
            .timefilm {
                display: none;
            }
            .film {
                .play-video {
                    width: 45px;
                    height: 45px;
                }
            }
            .film__idm {
                width: 57px;
                font-size: 0.875rem;
                top: 10px;
                right: 10px;
                .star {
                    img {
                        max-width: 7px;
                    }
                }
            }
        }
        .slick-next:before,
        .slick-prev:before {
            font-size: 35px;
        }
    }
    
    @include small-mobile {
        .slick-next:before,
        .slick-prev:before {
            font-size: 25px;
        }
        .slick-prev {
            left: -10px;
        }
        .slick-list {
            margin-left: 25px;
        }
        .slick-next {
            right: -10px;
        }
        .film__list {
            .navcontent {
                .active {
                    a {
                        font-size: 1.25rem;
                    }
                }
                li {
                    &:hover {
                        a {
                            font-size: 1.25rem;
                        }
                    }
                }
                a {
                    font-size: 1rem;
                }
            }
        }
    }
    
    @include mobile-up {
        .col-md-3 {
            flex: 0 0 25%;
            max-width: 24%;
        }
    }