th {
  text-align: center !important;
  vertical-align: middle !important;
}

td {
  text-align: center !important;
  vertical-align: middle !important;
}

#button-trash {
  background-color: #ff0000 !important;
  border-color: #ff0000 !important;
}
