.color-primary {
  background-color: #e61212 !important;
  border-color: #e61212 !important;
}

.color-outline-primary {
  color: #e61212 !important;
  border-color: #e61212 !important;
}

.color-outline-primary:hover,
.color-outline-primary:focus {
  color: #fff !important;
  background-color: #e61212 !important;
  border-color: #e61212 !important;
}

.dropdown-toggle::after {
  display: none !important;
}

.btn-color-profile {
  border-color: #e60909 !important;
}

.icon-size {
  font-size: 1.2rem;
}

.button-icon-size {
  width: 130px;
}

.text-link {
  text-decoration: none !important;
}

.color-link-primary {
  color: #e61212 !important;
}

.color-link {
  color: #2c2c2c !important;
}

.menu-link:hover {
  color: #e61212 !important;
}
