@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: "Lexend", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.color-primary {
  background-color: #e71a0f !important;
  border-color: #e71a0f !important;
}

.color-outline-primary {
  color: #e71a0f !important;
  border-color: #e71a0f !important;
}

.color-outline-primary:hover,
.color-outline-primary:focus {
  color: #fff !important;
  background-color: #e71a0f !important;
  border-color: #e71a0f !important;
}

.dropdown-toggle::after {
  display: none !important;
}

.btn-color-profile {
  border-color: #e71a0f !important;
}

.icon-size {
  font-size: 1.2rem;
}

.button-icon-size {
  width: 130px;
}

.text-link {
  text-decoration: none !important;
}

.color-link-primary {
  color: #e71a0f !important;
}

.color-link {
  color: #2c2c2c !important;
}

.menu-link:hover {
  color: #e71a0f !important;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #e71a0f !important;
}

.w-60 {
  width: 60% !important;
}

.w-70 {
  width: 70% !important;
}

.movie-poster {
  object-fit: cover;
}

.cineplex-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.img-cover {
  object-fit: cover;
}

.movie-item:hover {
  cursor: pointer;
}

.movie-item:hover h3 {
  color: #e71a0f !important;
}

.movie-item:hover h5 {
  color: #e71a0f !important;
}

.movie-item-link {
  color: #000000 !important;
  text-decoration: none !important;
}

.fs-movie-title {
  font-size: 1.15rem !important;
}

.text-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.title-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.footer-cgv-address {
  width: 100%;
}

.cgv-address-content {
  width: 980px;
  margin: 0px auto;
}

.logo-footer-cgv {
  background-image: url("https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/common_sprite_area.png");
  background-position: -145px -319px;
  height: 50px;
  width: 120px;
}

.container_img {
  height: 40%;
  width: 40%;
  object-fit: cover;
}

.box-text {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(0, 0, 0);
  margin: 3px;
  width: 100px;
  height: 40px;
  cursor: pointer;
  color: black;
}

.box-text:hover {
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(212, 13, 13);
  color: white;
}

.box-day {
  cursor: pointer;
  height: 50px;
  position: relative;
  width: 75px;
  border: 1px solid rgb(0, 0, 0);
  margin: 3px;
  cursor: pointer;
  border-radius: 5px;
}

.box-day > span {
  font-size: 11px;
  left: 4px;
  position: absolute;
  top: 4px;
}

.box-day > em {
  font-size: 11px;
  font-style: normal;
  left: 4px;
  position: absolute;
  top: 20px;
}

.box-day > strong {
  font-size: 32px;
  font-weight: normal;
  left: 31px;
  line-height: 32px;
  position: absolute;
  top: 5px;
}

.box-day:hover {
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(212, 13, 13);
  color: white;
}

.box-active {
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(212, 13, 13);
  color: white;
}

.previous-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #343433;
  border: 5px solid rgb(255, 255, 255);
  color: white;
  cursor: pointer;
  margin-left: 5px;
}

.next-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e71a0f;
  border: 5px solid rgb(255, 255, 255);
  color: white;
  cursor: pointer;
  margin-right: 5px;
}

.booking-movie-img {
  width: 105px;
  height: 150px;
  margin-top: 5px;
  margin-bottom: 5px;
  object-fit: cover;
}

.form-check-input:checked {
  background-color: #e71a0f;
  border-color: #e71a0f;
}

.count_down_clock {
  border: 2px solid rgb(223, 30, 30);
}

.time_clock {
  color: #e71a0f;
  font-size: 50px;
}

.cineplex_text:hover {
  background-color: #e71a0f;
  color: rgb(255, 255, 255);
  padding: 3px;
  cursor: pointer;
}

.cineplex_text.selected {
  background-color: #e71a0f;
  color: rgb(255, 255, 255);
  padding: 3px;
}

.form-group.required.control-label:after {
  content: "*";
  color: red;
  margin-left: 2px;
}

.form-padding {
  padding-left: 12rem;
  padding-right: 12rem;
}

.w-320 {
  width: 320px;
}
