@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: "Lexend", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.color-primary {
  background-color: #e61212 !important;
  border-color: #e61212 !important;
}

.color-outline-primary {
  color: #e61212 !important;
  border-color: #e61212 !important;
}

.color-outline-primary:hover,
.color-outline-primary:focus {
  color: #fff !important;
  background-color: #e61212 !important;
  border-color: #e61212 !important;
}

.dropdown-toggle::after {
  display: none !important;
}

.btn-color-profile {
  border-color: #e60909 !important;
}

.icon-size {
  font-size: 1.2rem;
}

.button-icon-size {
  width: 130px;
}

.text-link {
  text-decoration: none !important;
}

.color-link-primary {
  color: #e61212 !important;
}

.color-link {
  color: #2c2c2c !important;
}

.menu-link:hover {
  color: #e61212 !important;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #e61212 !important;
}

.w-60 {
  width: 60% !important;
}

.movie-poster {
  object-fit: cover;
}

.movie-item:hover {
  cursor: pointer;
}

.movie-item:hover h2 {
  color: #e61212 !important;
}

.movie-item-link {
  color: #000000 !important;
  text-decoration: none !important;
}

.text-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.title-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.footer-cgv-address {
  width: 100%;
}

.cgv-address-content {
  width: 980px;
  margin: 0px auto;
}

.logo-footer-cgv {
  background-image: url("https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/common_sprite_area.png");
  background-position: -145px -319px;
  height: 50px;
  width: 120px;
}

.container_img {
  height: 40%;
  width: 40%;
  object-fit: cover;
}

.box-text {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(0, 0, 0);
  margin: 3px;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

.box-text:hover {
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(212, 13, 13);
  color: white;
}

.box-day {
  cursor: pointer;
  height: 50px;
  position: relative;
  width: 75px;
  border: 1px solid rgb(0, 0, 0);
  margin: 3px;
  cursor: pointer;
  border-radius: 5px;
}

.box-day > span {
  font-size: 11px;
  left: 4px;
  position: absolute;
  top: 4px;
}

.box-day > em {
  font-size: 11px;
  font-style: normal;
  left: 4px;
  position: absolute;
  top: 20px;
}

.box-day > strong {
  font-size: 32px;
  font-weight: normal;
  left: 31px;
  line-height: 32px;
  position: absolute;
  top: 5px;
}

.box-day:hover {
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(212, 13, 13);
  color: white;
}

.box-active {
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(212, 13, 13);
  color: white;
}
