// variable font-size
$fs-0: 15px; //default
$fs-1: 13px;
$fs-2: 20px;
$fs-3: 24px;
//CĂ²n 1 font-size: 36px;
$fs-4: 40px;
//variable margin
$mg-0: 2px;
$mg-1: 10px;
$mg-2: 25px;
//variable border-radius
$border-radius: 2px;
$border-radius: 5px;
//variable padding
$pd-0: 5px; //default
$pd-1: 10px;
$pd-2: 20px;
//variable line-height
$line-height-0: 1.43; //default
//variable font-weight
$fw-normal: normal;
$fw-bold-0: 600;
$fw-bold-1: 700;
$fw-bold: bold;